# Makefile to package PackMan

VERSION=0.6-1
PACKAGES=PackMan_$(VERSION)
INSTALL_TO=Temp/Apps/Admin

all: build pkg

pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	cp RiscPkg/Copyright Temp/RiscPkg
	svn export SysVars Temp/SysVars
	svn export Sprites Temp/Sprites
	svn export !PackMan $(INSTALL_TO)/!PackMan
	cp !PackMan/!RunImage $(INSTALL_TO)/!PackMan
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../RiscPkg/$@
	zip -r ../RiscPkg/$@ * -i@../RiscPkg/$(firstword $(subst _, ,$@)).inc


build:
	make
