# Makefile to package PackMan

VERSION=0.8-1
PACKAGES=PackMan_$(VERSION)
INSTALL_TO=Temp/Apps/Admin

all: build pkg

pkg: fakepkginst
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	cp RiscPkg/Copyright Temp/RiscPkg
	cp -r !PackMan $(INSTALL_TO)
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	../fakepkginst
	rm -f ../RiscPkg/$@
	zip -r ../RiscPkg/$@ * -exclude="*.svn*" -i@../RiscPkg/$(firstword $(subst _, ,$@)).inc

fakepkginst: fakepkgsrc/fakepkginst.cc
	g++ fakepkgsrc/fakepkginst.cc -ofakepkginst

build:
	make -C src
